@charset "utf-8";
/* CSS Document */

body {
	margin: 0px;
}

.back {
	position: fixed;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background: url(../images/left-bg.png) no-repeat, url(../images/right-bg.png) no-repeat, #ffffff;
	background-position: left, right;
	
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.authorize, .info {
	width: 280px;
	height: 340px;
	margin: 30px 0px 0px 0px;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	text-align: center;
	align-items: center;
}

.authorize input[type=text], .authorize input[type=password], .authorize input[type=tel] {
	width: 100%;
	background-color: transparent;
	border: none;
	outline: 0px;
	font-size: 16px;
	color: #83858c;
	padding: 10px 0px;
	border-bottom: 2px solid #34C38D;
}

.authorize a, .info a, .authorize input[type=text]:focus, .authorize input[type=password]:focus, .authorize input[type=tel]:focus {
	color: #34C38D;
}

.authorize span, .info p {
	color: #83858C;
}

.authorize-form {
	width: 100%;
	height: 200px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.auth-btn {
	width: 100%;
	border-radius: 8px;
	padding: 12px 25px;
}

.info {
	height: auto;
	margin: 0px 0px 30px 0px;
	justify-content: center;
}

.info p {
	font-size: 14px;
}

.modals {
	top: 0px;
	left: 0px;
}

/*MEDIA*/

@media screen and (min-width: 1366px) {
	.authorize {
		height: 540px;
	}
}

/*MEDIA 1024*/

@media screen and (max-width: 1024px)  {
	.back {
		background-size: 30%;
		justify-content: center;
	}
	.authorize, .info {
		margin: 30px 0px;
	}
}

/*MEDIA TABLET*/

/*MEDIA MOBILE*/

@media screen and (max-width: 480px) {
	.back {
		background: #ffffff;
	}
	.authorize input[type=text], .authorize input[type=password], .authorize input[type=tel], .authorize span, .info p, .authorize a, .auth-btn {
		font-size: 12px;
	}
}